body {
    margin: 0;
    padding: 0;
    background-color: rgb(74, 73, 73);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-wrap: wrap;
    overflow-x: hidden;
}
html{
    overflow-x: hidden;
}
*{
    max-width: 100%;
    box-sizing: border-box;
}

header {
    text-align: center;
    font-size: xx-large;
    margin: 0%;
    background-color: rgb(32, 31, 31);
    color: white;
}

.headerCopy {
    text-align: center;
    font-size: xx-large;
    margin: 0%;
    background-color: rgb(32, 31, 31);
    color: white;
}

hr {
    border: none;
    border-top: 2px solid white;
    margin: 0;
}

nav {
    text-align: center;
    width: 100%;
}

#div1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: black;
    min-height: 80px;
    height: auto;
    padding: 0;
    width: 100%;
}

.navStyle {
    color: white;
    margin: 0 10px;
    font-size: 120%;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    display: inline-block;
    width: auto;
}

.navUl {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.dropdown {
    position: relative;
    background-color: rgb(60, 59, 59);
    border: 2px solid black;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    border: 1px solid #ccc;
    min-width: 150px;
    padding: 0;
    z-index: 10;
    list-style: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    white-space: nowrap;
}

.dropdown-menu a:hover {
    background: #f0f0f0;
    text-decoration: underline;
}

#active {
    background-color: rgb(60, 59, 59);
    border: 2px solid white;
}

.navStyle:hover {
    text-decoration: underline;
}

#div2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 25px;
}

.capLink {
    text-decoration: none;
    color: white;
    font-size: 15px;
    text-align: center;
}

.figIndexClass {
    color: white;
    font-size: 20px;
    text-align: center;

}

.imgIndexClass {
    width: 300px;
    height: 300px;
    border-radius: 20%;
    object-fit: cover;
    border: 5px solid black;
}

figcaption:hover {
    text-decoration: underline;
}

figure {
    margin: 0;
}

.imgIndexClass:hover {
    filter: grayscale(100%);
}

#div3 {
    background-color: black;
    margin: 0;
    width: 100%;
    margin: 0;

}

h1 {
    color: white;
    font-size: x-large;
    margin: 0;
}

.imageWord {
    color: white;
    font-size: large;
}

.pLink {
    font-size: medium;
}

.capLink:hover {
    text-decoration: underline;
}

footer {
    margin-top: auto;
}

#div4 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#headImg {
    width: 450px;
    height: 250px;
    margin-top: 15px;
    object-fit: cover;
    border: 2px solid black;
}

.generalWords {
    color: white;
    font-size: medium;
    margin-left: 30px;
    margin-right: 20px;
}

#justThis {
    display: block;
    text-align: center;
}

#div6 {
    min-height: 150px;
    background-image: url("http://sotatek1.weebly.com/uploads/1/3/9/5/139555547/telehealth-platforms-the-future-of-healthcare-technology_orig.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.typeImg {
    width: 400px;
    height: 200px;
    display: block;
    margin: auto;
    object-fit: cover;
    border: 2px solid black;
    margin-top: 3px;
    margin-bottom: 3px;
}

.div10 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 45px;
    color: white;
    font-size: medium;
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

#teleSpan {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    display: block;
    margin-bottom: 20px;
    text-decoration: underline;
}

.capSpan {
    font-size: 22px;
    font-weight: bold;
    text-decoration: underline;
}

.div10>div p {
    text-align: left;
    margin: 10px 0 0 0;
    line-height: 1.4;
    padding: 0 30px;
}

.div11 {
    display: flex;
    gap: 0;
    align-items: flex-start;
    flex-wrap: wrap;
}

.div12 {
    flex: 1;
}

.div12 header {
    display: block;
    width: 100%;
}

.gameFrame {
    height: 220vh;
}

.subImg2 {
    width: 300px;
    height: 200px;
    display: block;
    margin: auto;
    object-fit: contain;
    margin-top: 1px;
    margin-bottom: 3px;
}

#div13 {
    min-height: 150px;
    background-image: url("https://biotechconnectionbay.org/wp-content/uploads/2020/08/shutterstock_1209179011.jpg");
    background-size: center;
    background-position: center;
    background-repeat: no-repeat;
}

#div14 {
    min-height: 150px;
    background-image: url("https://sph.nus.edu.sg/wp-content/uploads/2024/11/Screenshot-2024-11-21-at-8.02.54%E2%80%AFPM.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(186, 219, 226);
}

@media (max-width: 900px) {
    .div11 {
        flex-direction: column;
        align-items: center;
    }

    .gameFrame {
        width: 100%;
        height: 80vh;
    }

    .div12 {
        width: 100%;
    }

    html,
    body {
        max-width: 100%;
        overflow-x: hidden;
    }

    .navStyle {
        margin: 5px;
        padding: 5px;
        width: auto;
    }

    .navUl {
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    #div1 {
        min-height: 80px;
        height: auto;
    }

    img,
    .typeImg,
    .subImg2 {
        max-width: 100%;
        height: auto;
    }

    #headImg {
        max-width: 100%;
        height: auto;
    }

    #div5,
    #div4 {
        width: 100%;
        overflow-x: hidden;
    }

    .typeImg {
        display: block;
        margin: auto;
    }

    #div13,
    #div14 {
        background-size: contain;
        max-width: 100%;
    }

}